header {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45rem 1.0875rem;
    margin-bottom: 1.45rem;
}

header img {
    margin: auto 0;
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 100%;
}

header a {
    color: black;
    text-decoration: none;
    display: flex;
}

header .siteName {
    margin: auto 0.5em;
    font-size: 1.75em;
    font-weight: bold;
}