.social-media-icons {
    text-align: left;
    margin: 0;
}

.social-media-icons .social-svg {
    text-align: center;
}

.social-media-icon {
    display: inline-block;
    margin: 0 1rem;
    width: 40px;
    height: 40px;
    z-index:2;
}

.main-header .social-media-icon {
    transition: all ease 0.3s;
}

.main-header .social-media-icon .social-svg {
    color: rgb(255, 255, 255, 0.8);
}

.main-header .social-media-icon .social-svg:hover {
    color: #bbc7cc;
    background: white;
}

/* ==========================================================================
       Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {
    .social-media-icon {
        display: inline-block;
        width: 35px;
        height: 35px;
    }
}

/* ==========================================================================
       Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {
    .social-media-icon {
        margin: 1rem;
        display: inline-block;
        width: 30px;
        height: 30px;
    }
}
